<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col col-md-6">
        <h5 class="card-title mb-0">
          <i class="fas fa-tasks me-2"></i>
          {{ '::Menu:Tasks' | abpLocalization }}
        </h5>
      </div>
      <div class="col text-end col-md-6">
        <button
          *abpPermission="'TaskManagement.Tasks.Create'"
          id="create"
          class="btn btn-primary"
          type="button"
          (click)="createTask()"
        >
          <i class="fa fa-plus me-1"></i>
          <span>{{ '::NewTask' | abpLocalization }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-3 mb-2">
        <label class="form-label">{{ '::Search' | abpLocalization }}</label>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            [placeholder]="'::SearchPlaceholder' | abpLocalization"
            [(ngModel)]="filterText"
            (keyup.enter)="onSearch()"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">{{ '::Project' | abpLocalization }}</label>
        <nz-select
          style="width: 100%"
          [(ngModel)]="filterProjectId"
          nzShowSearch
          nzAllowClear
          [nzPlaceHolder]="'::SelectProject' | abpLocalization"
          (ngModelChange)="onFilterChange()"
        >
          <nz-option
            *ngFor="let project of projects"
            [nzLabel]="project.name"
            [nzValue]="project.id"
          ></nz-option>
        </nz-select>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">{{ '::Status' | abpLocalization }}</label>
        <nz-select
          style="width: 100%"
          [(ngModel)]="filterStatus"
          nzAllowClear
          [nzPlaceHolder]="'::FilterByStatus' | abpLocalization"
          (ngModelChange)="onFilterChange()"
        >
          <nz-option
            [nzLabel]="'::Enum:TaskStatus.0' | abpLocalization"
            [nzValue]="taskStatus.New"
          ></nz-option>
          <nz-option
            [nzLabel]="'::Enum:TaskStatus.1' | abpLocalization"
            [nzValue]="taskStatus.InProgress"
          ></nz-option>
          <nz-option
            [nzLabel]="'::Enum:TaskStatus.2' | abpLocalization"
            [nzValue]="taskStatus.Completed"
          ></nz-option>
        </nz-select>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label">{{ '::AssignedUser' | abpLocalization }}</label>
        <div class="d-flex">
          <nz-select
            style="width: 100%"
            class="me-2"
            [(ngModel)]="filterAssignedUserId"
            nzShowSearch
            nzAllowClear
            [nzPlaceHolder]="'::FilterByUser' | abpLocalization"
            (ngModelChange)="onFilterChange()"
          >
            <nz-option
              *ngFor="let user of users"
              [nzLabel]="user.userName"
              [nzValue]="user.id"
            ></nz-option>
          </nz-select>

          <button
            nz-button
            nzType="default"
            (click)="clearFilters()"
            nz-tooltip
            [nzTooltipTitle]="'::Clear' | abpLocalization"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>

    <nz-table
      #tasksTable
      [nzData]="taskData.items"
      [nzTotal]="taskData.totalCount"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      [nzShowPagination]="true"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[5, 10, 20, 50]"
      nzSize="middle"
    >
      <thead>
        <tr>
          <th nzColumnKey="Title" [nzSortFn]="true">{{ '::Title' | abpLocalization }}</th>

          <th>{{ '::Project' | abpLocalization }}</th>

          <th>{{ '::Description' | abpLocalization }}</th>

          <th nzColumnKey="DueDate" [nzSortFn]="true">{{ '::DueDate' | abpLocalization }}</th>

          <th nzColumnKey="Status" [nzSortFn]="true">{{ '::Status' | abpLocalization }}</th>

          <th>{{ '::AssignedUser' | abpLocalization }}</th>

          <th nzWidth="120px" nzRight>{{ '::Actions' | abpLocalization }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasksTable.data">
          <td>
            <span class="fw-bold">{{ task.title }}</span>
          </td>

          <td>
            <nz-tag [nzColor]="'geekblue'">
              <i class="fa fa-folder-open me-1"></i>
              {{ task.projectName || ('::Project' | abpLocalization) }}
            </nz-tag>
          </td>

          <td>
            <span
              class="text-truncate d-inline-block"
              style="max-width: 200px"
              [nz-tooltip]="task.description"
            >
              {{ task.description || ('::NoDescription' | abpLocalization) }}
            </span>
          </td>

          <td>
            <span
              [class.text-danger]="task.dueDate && (task.dueDate | date:'yyyyMMdd') < (today | date:'yyyyMMdd')"
            >
              {{ task.dueDate ? (task.dueDate | date:'dd/MM/yyyy HH:mm') : '-' }}
            </span>
          </td>

          <td>
            <nz-tag [nzColor]="getStatusColor(task.status)">
              {{ getStatusText(task.status) | abpLocalization }}
            </nz-tag>
          </td>

          <td>
            <ng-container *ngIf="task.assignedUserNames?.length; else noUser">
              <div class="d-flex flex-wrap gap-1">
                <nz-tag *ngFor="let name of task.assignedUserNames" [nzColor]="'green'">
                  <i class="fa fa-user me-1"></i>
                  {{ name }}
                </nz-tag>
              </div>
            </ng-container>

            <ng-template #noUser>
              <span class="text-muted fst-italic">{{ '::Unassigned' | abpLocalization }}</span>
            </ng-template>
          </td>

          <td nzRight>
            <div class="d-flex gap-2">
              <ng-container *ngIf="canUpdate(task)">
                <button
                  *abpPermission="'TaskManagement.Tasks.Update'"
                  nz-button
                  nzType="default"
                  nzShape="circle"
                  (click)="editTask(task)"
                  [nz-tooltip]="'::Edit' | abpLocalization"
                >
                  <i class="fa fa-pencil"></i>
                </button>
              </ng-container>

              <ng-container *ngIf="canDelete(task)">
                <button
                  *abpPermission="'TaskManagement.Tasks.Delete'"
                  nz-button
                  nzType="primary"
                  nzDanger
                  nzShape="circle"
                  nz-popconfirm
                  [nzPopconfirmTitle]="'::AreYouSureToDelete' | abpLocalization"
                  (nzOnConfirm)="delete(task.id)"
                  [nz-tooltip]="'::Delete' | abpLocalization"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalOpen"
  [nzTitle]="(isEditMode ? '::EditTask' : '::NewTask') | abpLocalization"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzWidth]="600"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>{{ '::Project' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'::ThisFieldIsRequired' | abpLocalization">
          <nz-select
            formControlName="projectId"
            nzShowSearch
            [nzPlaceHolder]="'::SelectProject' | abpLocalization"
          >
            <nz-option
              *ngFor="let project of projects"
              [nzLabel]="project.name"
              [nzValue]="project.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>{{ '::Title' | abpLocalization }}</nz-form-label>
        <nz-form-control [nzErrorTip]="titleErrorTpl">
          <input
            nz-input
            formControlName="title"
            [placeholder]="'::TaskTitlePlaceholder' | abpLocalization"
          />
          <ng-template #titleErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ '::ThisFieldIsRequired' | abpLocalization }}
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              {{ '::MaxLengthExceeded' | abpLocalization: { max: 256 } }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>{{ '::Description' | abpLocalization }}</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            formControlName="description"
            [placeholder]="'::DescriptionPlaceholder' | abpLocalization"
            [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>{{ '::Status' | abpLocalization }}</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="status">
                <nz-option
                  [nzLabel]="'::Enum:TaskStatus.0' | abpLocalization"
                  [nzValue]="taskStatus.New"
                ></nz-option>
                <nz-option
                  [nzLabel]="'::Enum:TaskStatus.1' | abpLocalization"
                  [nzValue]="taskStatus.InProgress"
                ></nz-option>
                <nz-option
                  [nzLabel]="'::Enum:TaskStatus.2' | abpLocalization"
                  [nzValue]="taskStatus.Completed"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>{{ '::DueDate' | abpLocalization }}</nz-form-label>
            <nz-form-control>
              <nz-date-picker
                formControlName="dueDate"
                nzPlaceHolder="{{ '::Select date' | abpLocalization}}"
                style="width: 100%"
                nzShowTime
                nzFormat="dd/MM/yyyy HH:mm"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-label>{{ '::AssignedUser' | abpLocalization }}</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="assignedUserIds"
            nzMode="multiple"
            [nzDisabled]="!form.get('projectId').value"
            nzAllowClear
            nzShowSearch
            [nzPlaceHolder]="'::SelectUser' | abpLocalization"
          >
            <nz-option
              *ngFor="let user of validAssignees"
              [nzLabel]="user.userName"
              [nzValue]="user.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">
      {{ '::Cancel' | abpLocalization }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="save()"
      [nzLoading]="saving"
      [disabled]="form.invalid"
    >
      <i class="fa fa-save me-1"></i>
      {{ (isEditMode ? '::Update' : '::Create') | abpLocalization }}
    </button>
  </ng-template>
</nz-modal>
